<!DOCTYPE html>
<html lang="en">

{% include "common/head.html" %}

{% include "common/navbar.html" %}

<body>
  <div class="container my-5">

    <h1 class="display-6">About JusLearn</h1>

    <p>
      <mark> "Education is not the learning of facts, but the training of the mind to think." - Albert Einstein  </mark>
      <br><br>
      Welcome to your personal odyssey of exploration and self-improvement—a realm where curiosity ignites discovery,
      and learning transforms into a profound journey. We believe that bridging the gap between academic knowledge and
      real-world application empowers you to reach unparalleled heights.
        <br><br>
      <strong>Our Mission</strong>
      <p>Our mission is to kindle your passion for learning by presenting thought-provoking challenges that encourage you
      to think deeply and differently. A platform where you can apply core concepts from computer science,
      mathematics, logic, and more to practical scenarios, turning theoretical understanding into tangible skills.</p>
      <br>
      <strong>What We Offer</strong>
      <ul>
        <li><strong>Progressive Challenges:</strong> Refresh your foundational knowledge with problems designed to solidify basic concepts.
        Then, delve deeper into advanced topics and cutting-edge developments, enhancing your problem-solving abilities as
        you progress.</li>
        <li><strong>Bridging Theory and Practice:</strong> Unveil how the principles you've studied serve as the bedrock for innovations in
        areas like security, encryption, and systems architecture. Witness how your foundational knowledge evolves into
        solutions that make a real impact in the complex tapestry of the real world.</li>
        <li><strong>A Community of Seekers:</strong> Join a thriving community of individuals who share your zeal for learning and personal
        growth. Engage in stimulating discussions, exchange perspectives, and collaborate on challenges that drive
        collective enlightenment.</li>
      </ul>

      <strong>Why Participate?</strong>
      <p>By engaging with these challenges, you embark on a continuous journey of self-enhancement. This platform empowers
      you to:</p>
      <ul>
        <li>Revisit and strengthen your foundational knowledge.</li>
        <li>Connect academic theories with their real-world applications.</li>
        <li>Refine your critical thinking and analytical skills.</li>
        <li>Foster a lifelong commitment to learning and innovation.</li>
      </ul>
      <mark>"And those who were seen dancing were thought to be insane by those who could not hear the music." —
        Friedrich Nietzsche </mark><br>
        <br>
    </p>



    <h1 class="display-6">Code of Conduct</h1>

    <p>
      Please keep these guidelines in mind:

      <ul>
        <li><strong>Focus on Learning, Not Just Answers:</strong> In a world of internet and AI, it's easy to find answers. Prioritize gaining knowledge over simply finding answers.</li>
        <li><strong>Avoid Shortcuts:</strong> It's up to you how much you want to learn. Avoid shortcuts that skip the learning process and hinder your growth.</li>
        <li><strong>Collaborate Thoughtfully:</strong> Discuss challenges with others without giving or receiving direct answers.</li>
        <li><strong>Encourage Independent Thinking:</strong> Support others to think for themselves and develop their own understanding.</li>
      </ul>

      <p><strong>Remember, the journey is about learning and personal growth.</strong></p>
    </p>

  </div>


  {% include "common/foot.html" %}

</body>

</html>