<!DOCTYPE html>
<html lang="en">

{% include "common/head.html" %}

{% include "common/navbar.html" %}

<body>
  <!-- Hero Section -->
  <div class="hero">
    <h1>Learn <br><span style="color:#3176FF;">
        
        <div id="textCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                  To Solve
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  To Think
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  To Not Give Up
                </div>
              </div>
            </div>
          </div>

    </span></h1>
    <p>quote</p>
    <a href="#" class="btn btn-primary">Start Now</a>
  </div>

<!-- Container for centering -->
<!-- <div class="container d-flex justify-content-center align-items-center">
  <div class="row align-items-center">
      <div class="col-auto w-25">
          <img src="/static/images/1.webp" alt="Mountain" class="img-fluid">
      </div>
      <div class="col-auto">
          <div class="hero">
            <h2> Learn to Climb </h2>
          </div>
      </div>
  </div>
</div> -->
  


{% include "common/foot.html" %}

</body>
</html>