<!DOCTYPE html>
<html lang="en">

{% include "common/head.html" %}

{% include "common/navbar.html" %}

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.6/js/dataTables.bootstrap5.js"></script>

<div class="container mt-5">
  <h3> Leaderboard </h3>

  <table id="leaderBoardTable" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <!-- <th>Rank</th> -->
        <th>User</th>
        <th>Solved</th>
        <th>Join Date</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <!-- <td>{{user.id}}</td> -->
        <td>{{user.username}}</td>
        <td>{{user.solved}}</td>
        <td>{{user.created_ts_show()}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>



<script>

  new DataTable('#leaderBoardTable', {
    order: [[2, 'desc']]
  });

</script>

{% include "common/foot.html" %}

</body>

</html>