<!DOCTYPE html>
<html lang="en">

{% include "common/head.html" %}

{% include "common/navbar.html" %}


<div class="container mt-5">

  <h3> Problem: {{problem.id}} </h3>
</div>



<div class="container mt-3">
  <!-- Problem Statement -->
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{problem.title}}</h3>
      <p class="card-text">
        {{problem.problem_statement}}
      </p>
    </div>
  </div>

  <!-- Input Field and Submit Button -->
  <div class="d-flex justify-content-center mt-4">
    <input type="number" class="form-control w-50" id="inputNumber"
      onkeydown="if(event.key === 'Enter'){ document.getElementById('submitButton').click(); return false; }"
      data-problem_id="{{problem.id}}" placeholder="Enter your answer..">
  </div>
  <div class="d-flex justify-content-center mt-2">
    <button type="button" class="btn btn-primary" id="submitButton" onclick="submitSolution()">Check</button>
  </div>

  <!-- Collapsible Hint -->
  <div class="mt-4">
    <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#hint"
      aria-expanded="false" aria-controls="hint">
      Show Hint
    </button>
    <div class="collapse mt-2" id="hint">
      <div class="card card-body">
        {{problem.hint_or_default()}}
      </div>
    </div>
  </div>
</div>


{% include "common/foot.html" %}

</body>

<script>
  function submitSolution() {
    let inputNumber = document.getElementById("inputNumber").value;
    let problemId = document.getElementById("inputNumber").getAttribute("data-problem_id");
    let url = `/api/check_answer/${problemId}/${inputNumber}`;

    fetch(url)
      .then(response => response.json())
      .then(data => {
        if (data === true) {
          alert("Correct Answer!");
        } else {
          alert("Incorrect Answer!");
        }
      });
  }
</script>

</html>