<!DOCTYPE html>
<html lang="en">

{% include "common/head.html" %}

{% include "common/navbar.html" %}


<div class="container mt-5">

  <h3> User Profile </h3>
</div>



<div class="container mt-3">
  <!-- Problem Statement -->
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{user.username}}</h3>
      <p class="card-text">
        Email: {{user.email}} <br>
        Rank: {{user.id}} <br>
        Join Date: {{user.created_at}} <br>
        Total Problems Attempted: 6 <br>
        Total Problems Solved: 5 <br>
      </p>
    </div>
  </div>

</div>


{% include "common/foot.html" %}

</body>

</html>